@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font: 14px/22px "Lato", Arial, sans-serif;
    background: #6394F8;
}

.lighter-text {
    color: #ABB0BE;
}

.main-color-text {
    color: #6394F8;
}

nav {
    padding: 15px 0 35px 0;
    background: #F8F8F8;
    font-size: 25px;
    .navbar-right {
        float: right;
    }
    .navbar-left {
        float: left;
    }
}

.container {
    margin: auto;
    width: 80%;
}

.badge {
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.shopping-cart {
    margin: 20px 0;
    float: right;
    background: white;
    width: 320px;
    position: relative;
    border-radius: 3px;
    padding: 20px;
}

.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 15%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.containerr {
    padding: 2px 16px;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button3 {
    border-radius: 8px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container div {
    background-color: white;
    border-color: black;
    border-width: 2px;
    margin: 10px;
}